<h2>商品編集</h2>

<%= form_with model:@item, url: admin_items_path, method: :get, local:true do |f| %>
<%= f.label :商品画像 %>
<%= f.attachment_field :image %>

<%= f.label :商品名 %>
<%= f.text_field :name %>

<%= f.label :商品説明 %>
<%= f.text_area :introduction %>

<%= f.label :税抜価格 %>
<%= f.text_field :price %>

<%= f.submit :変更を保存 %>
<% end %>
