<div class = "container">
 <div class = "row">
  <h2>商品新規登録</h2>
 </div>

 <div class = "row mt-3">
  <div class = "offset-3">
   <table class = "table-borderless">
    <%= form_with model:@item, url: admin_items_path, local:true do |f| %>
     <tr>
      <td><%= f.label :商品画像 %></td>
      <td><%= f.attachment_field :image %></td>
     </tr>
     <tr>
      <td><%= f.label :商品名 %></td>
      <td><%= f.text_field :name %></td>
     </tr>
     <tr>
      <td><%= f.label :商品説明 %></td>
      <td><%= f.text_area :introduction %></td>
     </tr>
     <tr>
      <td><%= f.label :ジャンル %></td>
      <td><%= f.collection_select :genre_id, Genre.all, :id :name %></td>
     </tr>
     <tr>
      <td><%= f.label :税抜価格 %></td>
      <td><%= f.text_field :price %></td>
     </tr>
     <tr>
      <td><%= f.label :販売ステータス %></td>
      <td><% %></td>
     </tr>
    </table>

     <div class = "row">
      <%= f.submit :新規登録, class: "btn btn-success" %>
      <% end %>
     </div>
    </div>
   </div>
</div>