<div class = "container my-5">
 <div class = "row">

 <h2>商品詳細</h2>
 </div>

<div class = "row mt-3">
 <div class = "offset-sm-1 col-sm-3">
 <%= attachment_image_tag @item, :image, size: "200x200", fallback: 'no_image.jpeg' %>
  </div>
  <div class = "col-sm-4">
<table class = "table-borderless">
  <tbody>
    <tr>
      <td>商品名</td>
      <td><%= @item.name %></td></tr>

      <tr><td>商品説明</td>
      <td><%= @item.introduction %></td></tr>
      <tr>
        <td>ジャンル</td>
        <td><%= link_to @item.genre.name, admin_genres_path(genre_id: @item.genre_id), class: "underline" %></td>
      </tr>

      <tr><td>税込価格（税抜価格）</td>
      <td><%= @item.price %>円</td></tr>
      <tr>
        <td>販売ステータス</td>
        <td>
						<% if @item.is_active? %>
							<span class="text-active">販売中</span>
						<% else %>
							<span class="text-invalid">販売停止中</span>
						<% end %>
      </tr>

  </tbody>
</table>
</div>
</div>

<div class = "row">
  <div class = "offset-sm-1">
<%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
<!--</div>-->
</div>
</div>

