<h1>ジャンル一覧・追加</h1>
    <body>
  </thead>
<table class = "table">
<%= form_with model:@genre, url: admin_genres_path, local:true do |f| %>
<tr><th>ジャンル名
<%= f.text_field :name %></th></tr>

<th><%= f.submit '新規登録' %></th>
<% end %>
</table>
  <tbody>
<table class = "table">
    <th>ジャンル</th>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td><%= link_to "編集する", edit_admin_genre_path(@genres) %></td>
      </tr>
      <% end %>
      </table>
  </tbody>
</table>


</body>