<h5>配送先登録/一覧</h5>

<div class = "row my-5">
   <div class = "offset-sm-2">
<table class = "table" border = "0">
<tbody>
<%= form_with model:@address, url: addresses_path, local:true do |f| %>
<tr>
<td><%= f.label :郵便番号（ハイフンなし） %></td>
<td><%= f.text_field :postal_code %></td>
</tr>
<tr>
<td><%= f.label :住所 %></td>
<td><%= f.text_field :address %></td>
</tr>
<tr>
<td><%= f.label :宛名 %></td>
<td><%= f.text_field :name %></td>
</tr>

<td>
 <div class="actions">
  <%= f.submit :新規登録, class: "btn btn-success" %>
 </div>
</td>
<% end %>
</tbody>
</table>
</div>
</div>

<div class = "offset-1">
  <table class = "table" border = "１">
   <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
     </tr>
     </thead>
     
   <tbody>
    <% @address.each do |address| %>
     <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td><%= f.submit :編集する, class: "btn btn-success" %></td>
      <td><%= f.submit :削除する, class: "btn btn-danger" %></td>
     </tr>
     <% end %>
     </tbody>
     </table>
     </tr>
     </tr>
     </thead>
     </table>
     </div>
     

