<div class = "container md-8">
 <div class = "row">
  <div class = "col-5">
   <%= attachment_image_tag @item, :image, :fill, 200, 200, fallback: 'no_image.jpeg' %>
  </div>
  <div class = "row">
    <div class = "col-lg">
   <strong><%= @item.name %></strong>
  </div>
  </div>
  <div class = "row">
    <div class = "col-md">
   <%= @item.introduction %>
  </div>
  </div>
  <div class = "row">
    <div class = "col-md">
   ¥<%= @item.price %>円
  </div>
  </div>

  <div class="row offset-1">
        <div class="row">
          <%= form_with model: @cart_item, url: cart_items_path do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :amount, *[1..10] %>
            <%= f.submit "カートに入れる", class: "btn btn-success" %>
      　　<% end %>
        </div>
 </div>
 </div>
